{
  "presets": [
    "es2017",
    "react-app"
  ]
  /*,
  "plugins": [
  [ "babel-gettext-extractor", {
    "headers":"<Object>",
    "functionNames":"<Object>",
    "fileName": "<String>",
    "baseDirectory": "<String>",
    "stripTemplateLiteralIndent": "<Boolean>"
  }]
]*/

}